<div class="container">
    <h1>{{title}}</h1>
    <div class="body">
        {{body}}
    </div>
    <h2>List</h2>
    <ul>
        {{#each list}}
            <li class="{{class}}">{{text}}</li>
        {{/each}}
    </ul>

</div>

